{% extends "form/base.html" %}

{% block html_form_elements %}
<div class="row span12 panel-group">
    <div class="text-success text-center">
        <h4 class="panel-title">{% block two_column_form_block_header %}{% endblock %}</h4>
    </div>
    <br/>
    <div class="row panel-collapse collapse in">
        <div class="span5">
            {% block two_column_form_left_column_block %}{% endblock %}
        </div>
        <div class="span1">
            {% block two_column_form_midle_column_block %}{% endblock %}
        </div>
        <div class="span5">
            {% block two_column_form_right_column_block %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}