{% extends "base.html" %}

{% block content %}
   <div class="view-body">
    <div class="text-success text-center">
        <h2>Telehealth Clinical Portal</h2>
        <hr>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row text-center">
                <h4>Password Reset Request</h4>
                <hr>
            </div>
            {% if form.errors %}
            <div class="offset3">
                {% if form.non_field_errors %}
                <div class="row">
                    <div class="span6 alert alert-error">
                        {{ form.non_field_errors }}
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
            <div class="offset3">
                <form id="reset-form" accept-charset="utf-8" method="post" action="{% url 'password-reset-validate' %}">{%  csrf_token %}
                    <div class="row">{{ site.domain }}
                            <div class="span2">Email / Username </div>
                            <div class="span6">
                                {{ form.email }}
                                {{ form.email.errors }}
    {#                            <input type="text" placeholder="Username" name="username" id="username-input">#}
                            </div>
                     </div>
                     <div class="row control-group">
                            <div class="span2">&nbsp;</div>
                            <div class="span3 controls">
                                <button class="btn" type="submit">submit</button>
                            </div>
                     </div>
                </form>

            </div>
            <hr>
        </div>

         <a href="/">Back to login page</a>
    </div>
</div>
{% endblock %}

