{% extends "base.html" %}
{% load js staticfiles %}
{% block content %}
    <div class="row">
        <div class="span12">
            {% if form.errors %}
                <div class="row">
                    <div class="text-success text-center">
                        {% for aField in form.non_field_error %}
                           <span class="text-error">{{ aField.errors }}</span>
                        {% endfor %}

                        {% for anError in form.errors %}
                           <span class="text-error">{{ anError.error }}</span>
                        {% endfor %}

                    </div>
                </div>
             {% endif %}
            <div class="text-success text-center">
                <div class="offset3">
                    {% if form.errors %}
                    <h4>Invalid data. Please try again.</h4>
                    {% endif %}
                </div>
            </div>
             <div class="view-body" style="margin-left:30px;">
                 <div class="row">
                     <div id="search-result" class="span12">
                        <form action="./" method="POST" enctype="multipart/form-data">{% csrf_token %}
                            <div id="patient-info" class="row">
                                <div class="row span12 panel-group text-center">
                                   <div class="text-success text-center">
                                      <h2 class="panel-title">Change Password</h2>
                                   </div>
                                    <hr>
                                </div>
                                <div class="row span12 form-inline panel-group text-center">
                                    <div class="password-container">
                                        <section id="password-content">
                                           <div>
                                              <div class="span2 text-right">Password</div>
                                               {{form.password1}}
                                               {{ form.password1.errors }}
                                           </div><br>
                                            <div>
                                              <div class="span2 text-right">Confirm Password</div>
                                                {{form.password2}}
                                                {{ form.password2.errors }}
                                            </div><br />
                                            <div>
                                                <div class="span controls" id="change-button">
                                                    <input type="submit" class="btn btn-primary" value="Change">
                                                </div>
                                            </div>

                                        </section>
                                </div>

                                </div>
                            </div>
                        </form>
                     </div>
                 </div>
             </div>
         </div>
    </div>
{% endblock %}

{% block headextra %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/css/user_form.css' %}">
{% endblock %}