{% extends "base.html" %}

{% block content %}
    {{ context }}
  <div class="view-body">
    <div class="text-success text-center">
        <h2>Telehealth Clinical Portal</h2>
        <hr>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row text-center">
                <h4>Password Reset Request</h4>
                <hr>
            </div>
            <div class="row">
                <div class="text-center alert alert-success">
                    <p>Password has been reseted and sent to the user email successfully.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="/">Back to login page</a>
  </div>

{% endblock %}
