<div class="row">
                    <div class="span2">Logo:</div>
                    <div class="span4">
                        <div class="fileinput fileinput-new" data-provides="fileinput" id="photo-image-preview-container-id" data-original="{{ MEDIA_URL }}{%  logo_url %}" >
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 208px;height: 150px;"  >

                                    <img class="media-profile"  src="{{ MEDIA_URL }}{%  logo_url %}"  />
                            </div>
                            <div>
                                <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span>
                                <input type="file" name="logo_image" id="id_logo_image">
                                 </span>

                                <a href="#" class="btn btn-default {% if not settingslogo.logo_image %} fileinput-exists {% endif %} hide" id="photo-undo-btn-id" data-dismiss="fileinput" >Undo</a>

                                <a href="#" class="btn btn-default {% if not settingslogo.logo_image %} fileinput-exists {% endif %}" id="perview-image-remove-btn" data-dismiss="fileinput" >Remove</a>

                                {% if patient.photo %}
                                    <input id="photo-clear-id" type="checkbox" name="photo-clear" style="margin-left:20px;"  class="hide"  >
                                {% endif %}

                            </div>
                            {{ form.logo_image.errors }}
                        </div>
                    </div>
                </div>