{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/docs/assets/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'wisys/css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'wisys/css/common.css' %}">
<link rel="stylesheet" href="{% static 'wisys/css/fluid.css' %}">

<link rel="stylesheet" href="{% static 'Messi/messi.min.css' %}">

{% block head_styles %}{% endblock %}
{% block styleextra %}{% endblock %}
