{% extends "base.html" %}


{% block content %}
    {{ context }}
  <div class="view-body">
    <div class="text-success text-center">
        <h2>Telehealth Clinical Portal</h2>
        <hr>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row text-center">
                <h4>Password Reset Request</h4>
                <hr>
            </div>
            <div class="row">
                {% if validlink %}
                    <div class="text-center alert alert-success">
                        <p>Password reset request has been sent to helpdesk.</p>
                        <p>You will get new a password in your email shortly.</p>
                    </div>
                {% else %}
                    <div class="text-center alert alert-error">
                        <p>This link is no longer valid, please request another password reset</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
  <a href="/">Back to login page</a>
  </div>

{% endblock %}
